* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.display-flex {
  display: flex;
}

header#top-bar {
 background-color: red;
 height: 50px;
}

main {
  height: calc(100vh - 110px)
}

footer#bottom-bar {
  background-color: yellow;
  height: 60px;
}

header#top-bar .functions {
 justify-content: flex-end;
 align-items: center;
 height: 100%;
}

