* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* flex utility */
.display-flex {
  display: flex;
}
/* flex utility */

/* sections general istructions   */

main {
  height: calc(100vh - 130px);
  overflow: auto;
}

main .container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

footer#bottom-bar {
  background-color: #222222;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100%;
}

/* /sections general istructions   */

/* header top-bar  */

header#top-bar {
  background-color: black;
   height: 60px;
  }

header#top-bar .functions {
 justify-content: flex-end;
 height: 100%;
 padding-top: 10px;
}

#top-bar .functions a{
  color: white;
  text-decoration: none;
  background-color: rgba(103, 103, 103, .8);
  border-radius: 5px;
}

#top-bar .functions a:hover {
  background-color: gray;
}

#top-bar .functions .speaker-view a{
  font-weight: 550;
  font-size: .9rem;
  padding: 6px 6px;
}

#top-bar .functions .maximize a{
  padding: 5px 5px;
  margin-left: 10px;
  margin-right: 5px;
}
/* /header top-bar  */

/* video-cards  */


main .video-card {
  min-width: 200px;
  min-height: 110px;
  position: relative;
}

main .video-card img {
  object-fit: cover;
  width: 98%;
  z-index: 0;
}

main .video-card .user {
  display: inline-block;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  background-color: rgba(103, 103, 103, .5);
  padding: 2px;
  color: white;
  font-size: .8rem;
}



/* footer buttons */



.btn {
  color: white;
  background-color: #222222;
  border: none;
  cursor: pointer;
  position: relative;
  max-height: 70px;
}

.btn:hover {
  background-color: rgb(87, 85, 85);
  border-radius: 5px;;
}

.resize {
  font-size: 20px;
}

 .btn .action {
  margin-top: 5px;
} 

.btn.microphone {
margin-right: 50px;
margin-left: 20px;
}

.arrow {
 position: absolute;
 bottom: 15px;
 left: 50px;
}

.btn.video .arrow {
  position: absolute;
  bottom: 15px;
  left: 70px;
}

.icons .btn {
  margin: 0 10px;
}

.green {
  color: rgb(77, 208, 77);
}

#btn-end {
  background-color: #5C656E;
  color: rgb(209, 27, 27);
  font-weight: 600;
  font-size: .9rem;
  border: none;
  cursor: pointer;
  padding: 26px 15px

}

#btn-end:hover {
  background-color: red;
  color: #5C656E;
}


/* /footer buttons */